body,
.header,
.links,
.container-1,
.container-2,
.content-1,
.content-2, 
.content-3,
.love-container,
.footer {
    display: flex;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body,
.header,
.content-1 {
    flex-direction: column;
}

.header {
    gap: 10px;
    background-color:#e3b9ff;
    padding: 16px;
    margin: 0;
}

.header-logo {
    font-size: 18px;
    margin: 15px;
}

.container-1 {
    justify-content: space-between;
}

.container-2 {
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.content-right,
.content-left {
    width: 400px;
}

.content-1 {
    background-color: #ffe9ec;
    height: 300px;
    justify-content: center;
}

.header-1 {
    align-self: center;
    font-size: 20px;
    font-weight: bold;
}

.love-container {
    justify-content: space-around;
}

img {
    height: 400px;
    width: auto;
}

a {
    color: black;
}

.links {
    gap: 10px;
    margin: 15px;
}

button {
    padding: 10px;
    background-color: #fec5e5;
    border-radius: 10px;
    font-size: 16px;
}
